
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/docs/documents.js"></script>

<script type="text/javascript">
    $(function () {
        documents.GetRemarks();
    });
</script>

<div id="dataLabelList" style="overflow-y: auto;max-height: 600px;">
   
</div>
 

