@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
<script src="~/Scripts/docs/reports.js"></script>
    }
<div class="box b_shadow br4 white_bg">
    <div class="bot_T oh" style="overflow: visible">
        <h4>
            &nbsp;&nbsp;请选择模板：
            <select id="dropMotherSet">
                <option value="">请选择</option>
            </select>
            <input type="button" id="btnBuildDoc" value="下载"></h4>       
    </div>
</div>